// Base color
$main-color: #212121;
$second-color: #2196f3;
$hover-color: #1c81d4;
$third-color: #757575;
$ligh-gray: #f5f4fa;
$grey-border: #ececec;
$border-color: #f6f6f6;
$white: #fff;
$black: #000;

// Icon
$icon-color: #afb1b8;
$icon-background: #f5f4fa;

// Footer
$footer-color: #2f303a;

// Font
$raleway_font: "Raleway", sans-serif;
$roboto_font: "Roboto", sans-serif;
