.footer {
  background-color: $footer-color;
  color: $white;

  &__inner {
    &:not(:first-child) {
      margin-left: 98px;
      @include mobile {
        margin-left: 0;
      }
      @include tablet {
        margin-left: 0;
      }
    }
    &:nth-child(1) {
      @include mobile {
        text-align: center;
        margin-bottom: 60px;
      }
      @include tablet {
        text-align: center;
      }
    }
    &:nth-child(2) {
      @include mobile {
        text-align: center;
        margin-bottom: 60px;
      }
      @include tablet {
        text-align: center;
      }
    }
    &:nth-child(3) {
      @include mobile {
        text-align: center;
      }
      @include tablet {
        margin-top: 60px;
        text-align: center;
      }
    }
  }

  & .logo {
    display: inline-block;
    margin-bottom: 28px;
  }

  &__container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

    @include mobile {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @include tablet {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  &__title {
    @include font(white, 14px, 700, 0.42px);
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__form-box {
    margin-left: 94px;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      margin-top: 60px;
    }
    @include mobile {
      margin-left: 0;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__form {
    display: flex;
    @include tablet {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      flex-wrap: wrap;
    }
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  &__input {
    @include font(rgba(255, 255, 255, 0.6), 16px, 400, 0.48px, 20px);
    width: 358px;
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 16px 0px 16px 16px;
    @include mobile {
      width: 450px;
    }
  }

  &__button {
    @include button($second-color);
    @include font(white, 16px, 700, 0.96px, 30px);
    padding: 14px 28px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    @include tablet {
      margin-left: 0;
    }
    @include mobile {
      margin-left: 0;
    }
  }
}
.info {
  &__items {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.mailtel__link {
  @include font(rgba(255, 255, 255, 0.6), 14px, 400, 0.42px, 16px);
}
.address__link {
  @include font(white, 14px, 400, 0.42px, 16px);
  white-space: nowrap;
}

.button__icon {
  margin-left: 10px;
}
