.about {
  padding-top: 94px;
  padding-bottom: 94px;
  @include mobile {
    padding: 60px 0;
  }
  @include tablet {
    padding: 60px 0;
  }
  &__item {
    max-width: 350px;
    @include mobile {
      max-width: 100%;
    }
  }

  &__list {
    gap: 30px;
    display: flex;
    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__title {
    @include font($main-color, 14px, 700, 0.42px);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }

  &__text {
    @include font($third-color, 14px, 400, 0.42px, 24px);
  }
}

.icon-box {
  background-color: $icon-background;
  max-height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  @include tablet {
    padding: 25px 142px;
  }
  @include mobile {
    padding: 25px 190px;
  }
}
