.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    max-width: 1200px;
  }
  @include tablet {
    max-width: 768px;
  }
  @include mobile {
    max-width: 480px;
  }
}

.title {
  @include font($main-color, 36px, 700, 1.08px);
  margin: 0;
  margin-bottom: 50px;
  @include mobile {
    margin-bottom: 30px;
  }
  @include tablet {
    margin-bottom: 30px;
  }
}
